<% layout("/layouts/boilerplate.ejs") -%>
<div class="row">
    <div class="col-7 offset-2">
    <h2>Add new listing</h2>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
                type="text"
                placeholder="write title"
                name="listing[title]" 
                class="form-control"
                required>
        <div class="valid-feedback">Title Look's Good</div>
        <div class="invalid-feedback">Give a title</div>
        </div>
        <div class="mb-3">
            <div class="dropDown">
                <label for="category" class="form-label">Select category</label>
                <select name="listing[category]" id="category" class="form-control" required>
                    <option value="rooms">rooms</option>
                    <option value="iconic cities">iconic cities</option>
                    <option value="mountains">mountains</option>
                    <option value="castels">castels</option>
                    <option value="luxe">luxe</option>
                    <option value="domes">domes</option>
                    <option value="camping">camping</option>
                    <option value="farm">farm</option>
                    <option value="amazing pools">amazing pools</option>
                </select>
                <div class="invalid-feedback">Please select a category.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
                name="listing[description]"
                placeholder="add description"
                class="form-control"
                required
            ></textarea>
        <div class="invalid-feedback">Give a short description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input
                type="file"
                placeholder="image link/URL"
                name="listing[image]"
                class="form-control"
                required/>
            <div class="invalid-feedback">Upload image</div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input
                    placeholder="price"
                    name="listing[price]"
                    class="form-control"
                    required>
            <div class="invalid-feedback">Price is not valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input
                    type="text"
                    placeholder="provide location"
                    name="listing[location]"
                    class="form-control"
                    required>
            <div class="invalid-feedback">Provide Location*</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input
                type="text"
                placeholder="country"
                name="listing[country]"
                class="form-control"
                required>
        <div class="invalid-feedback">Provide Country Name*</div>
        </div>
        
        <button class="btn btn-dark add_btn">add</button>
        <br><br>
    </form>
</div>
</div>